<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
</head>

{% load static %}

<body style="
background-attachment: fixed;
    background-image: url('{% static request.user.background %}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        height: 100vh;
  ">

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% include 'navbar.html' %}

<div class="d-flex justify-content-center">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>