{% load static %}

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            TODO
        </a>
        <div id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if not request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% else %}
                <li class="dropdown nav-item ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <strong>
                            {{request.user.full_name}}
                        </strong>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Statistics</a>
                        <div class="dropdown-divider"></div>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="submit" class="dropdown-item" href="{% url 'logout' %}" value="Logout"/>
                        </form>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>