{% extends 'main.html' %}

{% block content %}
<style>
    .pop-window {
        position: fixed;
        background: rgba(0, 0, 0, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 999;
        margin-top: 2vh;
    }
</style>

<div class="d-grid gap-3" style="width: 90vw">
    <div>
        <h1 class="card-title text-center">Hello, Vadim!</h1>
        <h3 class="card-text text-center">You have X incomplete tasks in Y groups</h3>
    </div>

    <div class="row justify-content-md-center h-75">
        <div class="col-3">
            <div class="md-form active-pink-2">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="d-grid gap-3 col-9">
            <button type="button" class="btn rounded-pill btn-secondary">Add new group</button>
            {% for group in groups %}
            <div class="card border-secondary">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4><a href="#" class="link-secondary"> {{group.title}} </a></h4>
                            {% for tag in group.tag.all %}
                            <span class="badge rounded-pill text-dark" style="background-color:{{tag.color}};">{{tag.title}}</span>
                            {% endfor %}
                        </div>
                        <a type="button" class="btn rounded-pill btn-secondary"
                           href="{% url 'home' %}?form_type=task&action=add&target={{group.id}}">Add new task</a>
                    </div>
                </div>
                {% if group.task_set.count != 0 %}
                <ul class="list-group list-group-flush">
                    {% for task in group.task_set.all %}
                    {% if task.completed %}
                    <li class="list-group-item bg-secondary">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'home' %}?form_type=task&action=edit&target={{task.id}}"
                               class="link-light">{{task.title}}</a>
                            <form method="POST" action="{% url 'delete_task' task.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn-close btn-close-white" aria-label="Close"></button>
                            </form>
                        </div>
                    </li>
                    {% else %}
                    <li class="list-group-item bg-light">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'home' %}?form_type=task&action=edit&target={{task.id}}"
                               class="link-secondary">{{task.title}}</a>
                            <form method="POST" action="{% url 'delete_task' task.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn-close" aria-label="Close"></button>
                            </form>
                        </div>
                    </li>
                    {% endif %}

                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if form %}
{% include 'base/task_form.html' %}
{% endif %}


<!--{% for task in tasks %}-->
<!--    <h1>{{task.title}}</h1>-->
<!--{% endfor %}-->

{% endblock %}